.container.testimonials__container {
    width: 40%;
    padding-bottom: 4rem;
}



.client__avatar {
    width: 4rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    margin: 0 auto 1rem;
    border: 2px solid var(--color-primary);
    border-radius: 50%;
    padding: 0.3rem;
}

.testimonial {
    text-align: center;
    background: var(--color-bg-variant);
    padding: 2rem;
    border-radius: 2rem;
    user-select: none;
}

.client__review {
    color: var(--color-light);
    font-weight: 300;
    display: block;
    width: 80%;
    margin: 0.8rem auto 0;
}

/*========MEDIA QUERIES (Tablets)=============*/
@media screen and (max-width: 1024px) {
.container.testimonials__container {
    width: 60%;
}

}

/*========MEDIA QUERIES (Small Devices)=============*/
@media screen and (max-width: 600px) {

.container.testimonials__container, .client__review {
    width: var(--container-width-sm);
}

}